body,
div,
p,
h1,
ul,
li,
a,
span,
header,
main,
nav,
section,
footer,
img {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    /* background-color: #ccc; */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    transition: all .3s ease-in-out;
    z-index: 10;
}

nav.hide {
    top: -100%;
    transition: all .3s ease-in-out;
}

nav ul {
    display: flex;
    background-color: orange;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    width: 33.3333%;
    text-align: center;
}

nav a {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    transition: all .3s ease-in-out;
    background-color: red;
}

header {
    background-color: #aaa;
}

h1 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 1.5px;
    height: 34px;
    margin-top: 5px;
    margin-left: 3px;
    animation-duration: .8s;
    animation-name: h1Cursor;
    animation-iteration-count: infinite;
}

@keyframes h1Cursor {
    from {
        background-color: #333;
    }

    to {
        background-color: transparent;
    }
}

header button {
    position: absolute;
    padding: 10px;
    bottom: 30px;
    right: 10px;
    margin: 10px;
    opacity: 0.5;
}

header button:hover {
    opacity: 1;
    cursor: pointer;
}

main {
    /* background-color: #999; */
}

section {}

#SKILL {
    display: flex;
    flex-wrap: wrap;
}

#SKILL h3 {
    width: 100%;
}

#SKILL div {
    width: 45%;
    /* width: 80%; */
    position: relative;
    /* border: 3px solid #ccc; */
    margin: 10px auto;
    box-sizing: border-box;
}

@media screen and (max-width:700px) {
    #SKILL div {
        width: 80%;
    }
}

#SKILL img {
    width: 100px;
    height: 100px;
    margin: auto 20px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    opacity: 1;
    transition: all 1s ease-in-out;

}

#SKILL div:hover img {
    left: 75%;
    opacity: 0;
    transition: all 1s ease-in-out;
}

#SKILL p {
    position: absolute;
    text-align: center;
    top: 50%;
    font-weight: bold;
    transform: translateY(-50%);
    font-size: 30px;
    animation-name: skTitleIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

#SKILL div:hover p {
    animation-name: skTitleOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes skTitleOut {
    from {
        left: 0;
        width: 100%;
        opacity: 1;
    }

    to {
        left: 75%;
        width: 0;
        opacity: 0;
    }
}

@keyframes skTitleIn {
    from {
        left: 75%;
        width: 0;
        opacity: 0;
    }

    to {
        left: 0;
        width: 100%;
        opacity: 1;
    }
}

#SKILL ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    position: absolute;
    /* width: 100%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

#SKILL ul li {
    font-size: 18px;
    display: block;
    height: 100%;
    padding: 5px 20px;
    margin: 3px;
    animation-name: skLiOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#SKILL div:hover li {
    animation-name: skLiIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes skLiIn {
    0% {
        opacity: 0;
        box-shadow: inset 0 -15px 0 transparent;
    }

    100% {
        opacity: 1;
        box-shadow: inset 0 -15px 0 lightgoldenrodyellow;
    }
}

@keyframes skLiOut {
    0% {
        opacity: 1;
        box-shadow: inset 0 -15px 0 lightgoldenrodyellow;
    }

    100% {
        opacity: 0;
        box-shadow: inset 0 -15px 0 transparent;
    }
}



.dis_b {
    display: block;
}

.dis_n {
    display: none;
}